*.*~
*$py.class
build/
.cache
celerybeat-schedule
clean_rm.sh
clean_rm.txt
*.cover
.coverage
.coverage.*
coverage.xml
/data
db.sqlite3
debug.env
develop-eggs/
dist/
.dmypy.json
dmypy.json
docs/_build/
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
env.bak/
/examples/**/*.args
/examples/rag/sweep
/examples/runs
git_add.sh
git_add.txt
git_rm.sh
git_rm.txt
git_update.sh
htmlcov/
.hypothesis/
.idea
.installed.cfg
instance/
.ipynb_checkpoints
ipython_config.py
lang_code_data/
lib/
lib64/
lightning_logs/
local_settings.py
*.lock
*.log
logs/
*.manifest
MANIFEST
message.txt
*.mo
*.mp4
.mypy_cache/
nosetests.xml
.nox/
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
.pre-commit*
proc_data
profile_default/
__pycache__/
*.py[cod]
.pyre/
.pytest_cache/
.Python
.python-version
rm.sh
rm.txt
.ropeproject
.ruff_cache
runs
/runs_old
*.sage.py
.scrapy
sdist/
serialization_dir
/site
*.so
*.spec
.spyderproject
.spyproject
src/diffusers.egg-info/
src/diffusers/models/__pycache__/
src/diffusers/pipelines/alt_diffusion/__pycache__/
src/diffusers/pipelines/audioldm/__pycache__/
src/diffusers/pipelines/dance_diffusion/__pycache__/
src/diffusers/pipelines/ddim/__pycache__/
src/diffusers/pipelines/ddpm/__pycache__/
src/diffusers/pipelines/dit/__pycache__/
src/diffusers/pipelines/latent_diffusion/__pycache__/
src/diffusers/pipelines/latent_diffusion_uncond/__pycache__/
src/diffusers/pipelines/paint_by_example/__pycache__/
src/diffusers/pipelines/pndm/__pycache__/
src/diffusers/pipelines/__pycache__/
src/diffusers/pipelines/repaint/__pycache__/
src/diffusers/pipelines/score_sde_ve/__pycache__/
src/diffusers/pipelines/semantic_stable_diffusion/__pycache__/
src/diffusers/pipelines/spectrogram_diffusion/__pycache__/
src/diffusers/pipelines/stable_diffusion/__pycache__/
src/diffusers/pipelines/stable_diffusion_safe/__pycache__/
src/diffusers/pipelines/stochastic_karras_ve/__pycache__/
src/diffusers/pipelines/text_to_video_synthesis/__pycache__/
src/diffusers/pipelines/unclip/__pycache__/
src/diffusers/pipelines/versatile_diffusion/__pycache__/
src/diffusers/pipelines/vq_diffusion/__pycache__/
src/diffusers/__pycache__/
src/diffusers/schedulers/__pycache__/
src/diffusers/utils/__pycache__/
.*.swp
tags
target/
tensorflow_code
tests/fixtures/cached_*_text.txt
.tox/
/transformers
var/
.venv
venv/
venv.bak/
.vs
.vscode
/wandb
wandb
.webassets-cache
wheels/
